!Build/
**/.terraform/*
*.bs
*.json
*.o
*.pm.tdy
*.svg
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.last_cover_stats
.terraform.lock.hcl
.terraformrc
/*.gz
/*.zip
/.build/
/MANIFEST.bak
/Makefile.old
/_eumm/
/blib/
/pm_to_blib
cover_db/
crash.*.log
crash.log
inc/
nytprof.out
override.tf
override.tf.json
terraform.rc
tfplan*
