<!DOCTYPE html>

<html lang="en-GB">
    <head>
        <title>G-Parse</title>

        <meta charset="utf-8" />
        <link rel="icon" href="data:," />
        <meta name="Description" content="Split URLs like email clients; extract rulable domains thereof." />
        <meta name="theme-color" content="#ffd600" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <style>
            %= include 'styles/gparse', format => 'css', handler => 'ep_once'
        </style>

        <script>
            %= include 'scripts/gparse', format => 'js', handler => 'ep_once'
        </script>
    </head>

    <body class="light-blue darken-4">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper yellow accent-4">
                    <a class="brand-logo center">
                        <span class="black-text">G-Parse</span>
                    </a>
                </div>
            </nav>
        </div>
        <div id="superset" class="row">
            <div class="card-panel hoverable col m6 s10 offset-m3 offset-s1">
                <div class="row input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input id="url" name="url" type="text" />
                    <label for="url">URL</label>
                </div>
                <div class="row col s12">
                    <button id="submit" class="btn waves-effect waves-light btn-big yellow accent-4 black-text">Submit</button>
                </div>
            </div>
            <div id="result" class="card-panel hoverable col m6 s10 offset-m3 offset-s1">
                <table class="centered responsive-table striped">
                    <tr>
                        <td>Scheme</td>
                        <td><code id="scheme"></code></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><code id="username"></code></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><code id="password"></code></td>
                    </tr>
                    <tr>
                        <td>Hostname</td>
                        <td><code id="hostname"></code></td>
                    </tr>
                    <tr>
                        <td>Port</td>
                        <td><code id="port"></code></td>
                    </tr>
                    <tr>
                        <td>Path</td>
                        <td><code id="path"></code></td>
                    </tr>
                    <tr>
                        <td>Query</td>
                        <td><code id="query"></code></td>
                    </tr>
                    <tr>
                        <td>Anchor</td>
                        <td><code id="anchor"></code></td>
                    </tr>
                    <tr>
                        <td>Domain</td>
                        <td><code id="domain"></code></td>
                    </tr>
                    <tr>
                        <td>Public Suffix</td>
                        <td><code id="public-suffix"></code></td>
                    </tr>
                    <tr>
                        <td>Rulable?</td>
                        <td><code id="is-rulable"></code></td>
                    </tr>
                    <tr>
                        <td>Sub-Domain?</td>
                        <td><code id="is-subdomain"></code></td>
                    </tr>
                    <tr>
                        <td>Public Suffix?</td>
                        <td><code id="is-public-suffix"></code></td>
                    </tr>
                </table>
            </div>
            <div id="failure" class="card-panel hoverable col m6 s10 offset-m3 offset-s1 red white-text">
                <p id="error-message"></p>
            </div>
        </div>
    </body>
</html>
