:root {
    --theme-color: #009688;
    --theme-color-txt: black;
    --theme-color-txt2: #009688;

    --body-color: teal;

    --error-color: #f44336;
    --error-color-txt: white;

    --button-color: #26a69a;
    --button-color-focus: #1d7d74;
    --button-color-hover: #2bbbad;

    --table-stripe-color: #f2f2f280;

    --card-panel-color: white;
}

body {
    background-color: var(--body-color) !important;
    color: var(--theme-color-txt);
}

.nav-wrapper {
    background-color: var(--theme-color) !important;
}

button {
    width: 100%;
}

#superset {
    margin-top: calc(50vh - 324px/2 - 68px/2);
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: var(--table-stripe-color);
}

td {
    width: 50%;
    word-break: break-all;
}

#failure {
    background-color: var(--error-color) !important;
    color: var(--error-color-txt) !important;
}

.card-panel {
    background-color: var(--card-panel-color);
}

/* text color */
.input-field input {
    color: var(--theme-color-txt) !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: var(--theme-color-txt2) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--theme-color) !important;
    box-shadow: 0 1px 0 0 var(--theme-color) !important;
}

button.btn {
    background-color: var(--button-color);
}

button.btn:focus {
    background-color: var(--button-color-focus);
}

button.btn:hover {
    background-color: var(--button-color-hover);
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: var(--theme-color-txt2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: black;
        --theme-color-txt: white;
        --theme-color-txt2: white;

        --body-color: #212121;

        --button-color: #222222;
        --button-color-focus: black;
        --button-color-hover: black;

        --table-stripe-color: #424242;

        --card-panel-color: #616161;
    }
}

@media print {
    button {
        display: none !important;
    }

    #superset {
        margin-top: auto;
    }

    [class|="navbar"] {
        display: none !important;
    }
}
