body {
    background-color: #008080 !important;
}

.nav-wrapper {
    background-color: #009688 !important;
}

button {
    width: 100%;
}

#superset {
    margin-top: calc(50vh - 324px/2 - 68px/2);
}

td {
    width: 50%;
    word-break: break-all;
}

#failure {
    background-color: #f44336 !important;
    color: #ffffff !important;
}

@media print {
    button {
        display: none !important;
    }

    #superset {
        margin-top: auto;
    }

    [class|="navbar"] {
        display: none !important;
    }
}
