:root {
    --theme-color-foreground: #009688;
    --theme-color-background: teal;
    --theme-color-text: white;

    --error-color-background: #f44336;
    --error-color-text: white;
}

body {
    background-color: var(--theme-color-background) !important;
}

.nav-wrapper {
    background-color: var(--theme-color-foreground) !important;
}

button {
    width: 100%;
}

#superset {
    margin-top: calc(50vh - 324px/2 - 68px/2);
}

td {
    width: 50%;
    word-break: break-all;
}

#failure {
    background-color: var(--error-color-background) !important;
    color: var(--error-color-text) !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: var(--theme-color-foreground) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--theme-color-foreground) !important;
    box-shadow: 0 1px 0 0 var(--theme-color-foreground) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: var(--theme-color-foreground);
}

@media print {
    button {
        display: none !important;
    }

    #superset {
        margin-top: auto;
    }

    [class|="navbar"] {
        display: none !important;
    }
}
